/* Navbar.css */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #10142c;
}

.navbar-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white; /* Set the text color to white */
    text-decoration: none; /* Remove any underlines */
    outline: none; /* Remove focus outline */
    border: none; /* Remove any borders */
    background-color: #59E2C5; /* Set the background color */
    transition: background-color 0.3s ease; /* Transition effect for hover */

    /* Optional: Add some hover effect */
    &:hover {
        background-color: #4BC7B1; /* Slightly darker shade for hover */
    }
}


.topnav-right {
    float: right;
  }