body {
  /* cursor: none; Hide the default cursor */
}

.cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.cursor {
  /* width: 6in;
  height: 6in; */
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}

.ripple {
  border-radius: 50%;
  position: absolute;
  background-color: #111C33;
  mix-blend-mode: screen; 
  opacity: 0.1;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1500px 5px #184868;

}


/* .ripple {
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  mix-blend-mode: screen; 
  transform: translate(-50%, -50%);
  opacity: 0.3;

  box-shadow: 
    0 0 10px 5px rgba(55, 90, 167, 0.2),
    0 0 30px 10px rgba(55, 90, 167, 0.2),
    0 0 60px 20px rgba(55, 90, 167, 0.2),
    0 0 100px 40px rgba(55, 90, 167, 0.2),
    0 0 150px 70px rgba(55, 90, 167, 0.2);
} */