.experience-container {
    margin: 20px 0;
  }
  
  .experience-card {
    background-color: transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .experience-card:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .experience-card .card-content {
    cursor: pointer;
  }
  
  .card-action {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    opacity: 0;
  }
  
  
  .experience-card:hover .card-action {
    max-height: 200px;
    opacity: 1;
  }
  
/* Styling for the title */
.card-title {
    color: white; /* White color for the title */
    font-size: 1.5rem; /* Equivalent to h3 size */
    font-weight: bold; /* Bold font weight */
}

/* Styling for the date */
.experience-card .card-content p {
    color: #A8B2D1; /* Color for the date */
    font-weight: 600; /* A bit thicker font weight */
}

/* Styling for the description */
.card-action p {
    color: #A8B2D1; /* Color for the description */
    font-weight: 600; /* A bit thicker font weight */
}

  
  .experience-container {
    margin: 20px 0;
  }
  
  .experience-card {
    background-color: transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .experience-card:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .experience-card .card-content {
    cursor: pointer;
  }
  
  .card-action {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    opacity: 0;
  }
  
  
  .experience-card:hover .card-action {
    max-height: 200px;
    opacity: 1;
  }
  

  .card-title {
    color: white; /* White color for the title */
    font-size: 1.5rem; /* Equivalent to h3 size */
    font-weight: bold; /* Bold font weight */
}

.experience-card .card-content p {
    color: #A8B2D1; /* Color for the date */
    font-weight: 600; /* A bit thicker font weight */
}

.card-action p {
    color: #A8B2D1; /* Color for the description */
    font-weight: 600; /* A bit thicker font weight */
}

.experience-card:hover .card-title {
  color: #59E2C5;
}

  
  
  
  
  